<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GeneticAlgorithmCourseWork.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <userSettings>
        <GeneticAlgorithmCourseWork.Properties.Settings>
            <setting name="setDivicesText" serializeAs="String">
                <value>Задать параметры</value>
            </setting>
            <setting name="constX" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="constY" serializeAs="String">
                <value>73</value>
            </setting>
        </GeneticAlgorithmCourseWork.Properties.Settings>
    </userSettings>
</configuration>
